/**
primary:    #66b566
secondary:  #dc6178
text:       #787777
title:      #615f5f
border:     #e6e5e9
grey:       gray
*/

* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: inherit;
}

html{
    min-height: 100%;
    position: relative;
}

body{
    background-color: white;
    margin: 0;
    margin-bottom: 3em;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #787777;
}
h1, h2, h3{
    color: #615f5f;
}

.h4{
    font-size: 19px;
    /*color: #515151;*/
}

header{
    height: 200px;
    background: #66b566;
    padding-top: 3em;
}

header > .navbar-default{
    height: 53px;
    background-color: white;
}

header .navbar-brand{
    padding: 0;
    color: white;
    /*font-size: 3em;*/
    font-size: 5rem;
    margin-top: .3rem;
    font-family: 'Sacramento', cursive;
}

header .navbar-nav{
    margin-top: 3em;
}

header a{
    color: white;
}

.navbar-nav > li > a{
    border-bottom: 1px solid transparent;
}

.nav > li > a:focus, .nav > li > a:hover{
    text-decoration: none;
    background: none;
    color: white;
    opacity: .7;
    border-color: white;
}

.body-content{
    margin-top: -3em;
    /*margin-top: 4em;*/
    margin-bottom: 6em;
    min-height: 100vh;
}

.body-content > div{
    background-color: white;
    height: 100%;
    border-radius: 5px;
}

.main-content{
    padding-top: 2rem;
}

footer{
    min-height: 2em;
    background-color: #de8796;
    text-align: center;
    color: white;

    margin-top: 5em;
    padding-top: 1em;
    padding-bottom: .5em;

    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

.media-body {
    padding: 1.5rem 1.5rem 0;
}

.sidebar{
    height: 100vh;
    padding-top: 2rem;
}

.sidebar li{
    background: inherit;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.sidebar h4{
    color:#dc6178;
    font-size: 15px;
}

.panel-default{
    border-radius: 3px;
}

.post-list{
    padding: .5em;
}

.post{
    margin: 1.5em 0;
    height: 201px;
}

.post h3, .notice h2{
    margin-bottom: 1em;
}

.post p, .notice p{
    text-align: justify;
}

.post-list, .notice-list{
    border-bottom: 1px solid #d3d2d4;
    margin-right: .3em;
    margin-bottom: 1em;
    padding-bottom: 2em;
}

.project-list{
    margin-top: 3em;
    margin-bottom: 3em;
}

.project-list h2{
    margin-top: 0;
    margin-bottom: 1em
}

ol > li::marker {
    color: #dc6178;
}

.notice{
    margin-bottom: 2em;
}

.notice-list li {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.notice-list.cuidados-list{
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 1rem;
}

.notice-panel-item a{
    color: inherit;
}

.notice-panel{
    text-align: center;
    margin-bottom: 2rem;
}

.notice-panel-date{
    text-align: right;
    font-size: .8em;
    color: #888888;
}

a, h4, .panel-heading i{
    color: #dc6178;
}

a:not(.text-white):hover,
a:not(.text-white):active,
a:not(.text-white):focus{
    color: #dc6178;
}

a.text-secondary{
    color: gray;
}

a.thumbnail.active,
a.thumbnail:focus,
a.thumbnail:hover{
    border-color: #de8796;
    opacity: .8;
}

.btn-primary{
    color: #fff;
    background-color: #66b566;
    border-color: #66b566;
}

a.btn-primary:hover,
a.btn-primary:active,
a.btn-primary:focus{
    color: white;
    background-color: #4e8a4e;
    border-color: #4e8a4e;
}


li.notice-panel-item{
    border-top: 0;
}

.media-heading{
    border-bottom: 1px solid #ddd;
    padding-bottom: 1rem;
}

.media img{
    border-radius: 3px;
}

.panel-heading i{
    margin-right: .5rem;
}

.panel-default > .panel-heading{
    color: inherit;
}

.list-group-item:first-child,
.list-group-item:last-child{
    border:none;
}

.thumbnail{
    border-color: white;
    border-radius: 3px;
}

.thumbnail > img{
    border-radius: 3px;
}


.credits{
    text-align: center;
    font-size: 12px;
    letter-spacing: 1px;
    color: #ffc5c5;
}

.credits a{
    text-decoration: none;
    white-space: nowrap;
    color: white;
    transition: all 1s ease
}

.credits a:hover{
    color: rgb(221, 220, 220);
    opacity: .8;
}


@media (max-width:600px){
    header{
        position: relative;
        height: auto;
    }

    header .navbar-brand{
        text-align: center;
        width: 100%;
    }

    header .navbar-nav {
        margin-top: 1em;
        text-align: center;
    }

    header .nav > li{
        display: inline-block;
    }

    .h2{
        font-size: 28px;
        text-align: center;
    }

    h2{
        text-align: center;
    }

    p{
        text-align: unset;
    }

    .sidebar{
        height: auto;
    }

    .sidebar .list-group{
        margin-bottom: 0;
    }

    .featured-posts{
        display: none;
    }

    .media-body, 
    .media-left, 
    .media-right{
        display: block;
        padding-left: 0;
        padding-right: 0;
    }

    .post{
        height: auto;
    }

    .media-body{
        width: 100%;
    }

    .media-left{
        padding: 0;
        margin: 0;
    }

    .media-left > img{
        width: 100%;
        object-fit: cover;
    }

    .thumbnail a > img,
    .thumbnail > img{
        width: 100%;
    }

    .notice{
        margin-bottom: 0;
        margin-top: 3em;
    }

    .post-list, .notice-list{
        margin: 0 auto;
        padding-left: 0;
        padding-right: 0;
    }

    .cuidados-list{
        padding: 0;
        margin-left: -2.5rem;
    }

    .project-list{
        margin-bottom:1rem
    }

    .list-group-item:last-child{
        border-bottom: 1px solid #ddd;;
    }
}